.reviewSection {
  padding: 3.75rem 8.3rem;
  background: linear-gradient(
      rgba(255, 254, 254, 0.8),
      rgba(255, 253, 253, 0.8)
    ),
    url("../../assets/reviewBgimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1025px) and (min-width: 767px) {
  .reviewSection {
    padding: 2.8rem 5.3rem;
  }
}
@media (max-width: 426px) {
  .reviewSection {
    padding: 2.8rem 4rem;
  }
}
