.third-banner {
  background: url("../../../assets/banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.third-banner h1 {
  color: black;
  margin: 4rem 0 0 0;
  padding: 0;
  font-size: clamp(28px, 4.17vw, 60px);
}
.third-banner .highligth {
  color: rgba(184, 33, 250, 1);
  font-size: clamp(24px, 3.47vw, 50px);
}
.third-banner h2 {
  color: rgba(255, 255, 255, 1);
  background: rgba(249, 145, 6, 1);
  border-radius: 0.5rem;
  padding: 0.8rem 1.8rem;
  display: inline-block;
  margin: 2.7rem 0;
  font-weight: 400;
  font-size: clamp(24px, 3.47vw, 50px);
}
.third-banner p {
  font-size: clamp(20px, 2.78vw, 40px);
  margin: 0 0 1.5rem 0;
  color: rgba(250, 33, 71, 1);
}

@media (max-width: 768px) {
  .third-banner {
    background-position: left;
  }
  .third-banner h1 {
    font-size: 4rem;
    margin: 3rem 0;
  }
  .third-banner .highligth {
    font-size: 3.5rem;
    margin: 2rem 0;
  }
  .third-banner h2 {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 0;
  }
  .third-banner p {
    font-size: 3rem;
    margin: 0 0 1.5rem 0;
  }
}

@media (max-width: 426px) {
  .third-banner {
    background-position: left;
  }
  .third-banner h1 {
    font-size: 5rem;
    margin: 4rem 0;
  }
  .third-banner .highligth {
    font-size: 4.5rem;
    margin: 2rem 0;
  }
  .third-banner h2 {
    font-size: 3rem;
    margin: 0 0 1.5rem 0;
  }
  .third-banner p {
    font-size: 4rem;
    margin: 1.5rem 0 1.5rem 0;
  }
}
@media (max-width: 375px) {
  .third-banner h1 {
    font-size: 5rem;
  }
  .third-banner h2 {
    font-size: 4rem;
    margin: 0 0 3rem 0;
  }

  .third-banner .highligth {
    font-size: 4.5rem;
    margin: 2rem 0;
  }
  .third-banner h3 .old-price {
    font-size: 3.2rem;
  }
  .third-banner p {
    font-size: 4rem;
    margin: 0 0 1.5rem 0;
  }
}
@media (max-width: 320px) {
  .third-banner h1 {
    font-size: 7rem;
  }
  .third-banner .highligth {
    font-size: 6.5rem;
    margin: 2rem 0;
  }
  .third-banner h2 {
    font-size: 4rem;
  }
  .third-banner p {
    font-size: 5rem;
    margin: 2rem 0 2rem 0;
  }
}
